{% extends "registration/base.html" %}

{% block title %}Signup{% endblock %}

{% block content %}
<section class="bg-light py-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-6">
                <h1>Signup</h1>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <div>{{ form.first_name.label }}:</div>
                        <div>{{ form.first_name }}</div>
                        <div>{{ form.last_name.label }}:</div>
                        <div>{{ form.last_name }}</div>
                        <div>{{ form.email.label }}:</div>
                        <div>{{ form.email }}</div>
                        <div>{{ form.username.label }}:</div>
                        <div>{{ form.username }}</div>
                        <div>{{ form.password1.label }}:</div>
                        <div>{{ form.password1 }}</div>
                        <div>{{ form.password2.label }}:</div>
                        <div>{{ form.password2 }}</div>
                    </div>
                    <button type="submit" class="btn btn-info my-3">Signup</button>
                </form>
                <p>Already have an account? <a href="{% url 'login' %}" class="text-decoration-none">Login</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
